.u-section-1 .u-sheet-1 {
  min-height: 442px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 35px auto 0 32px;
}

.u-section-1 .u-image-1 {
  width: 386px;
  height: 386px;
  margin: -43px 92px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -308px 661px 35px 32px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 122px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 92px;
    margin-left: auto;
    margin-bottom: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 241px;
    margin-bottom: 35px;
    margin-left: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-right: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 842px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 37px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin: 47px 0 60px;
  }
}